.back-button {
        margin-top: 10px;
}
.text-center > button[type="button"]:nth-of-type(1) {
        width: 100%;
        margin-bottom: 20px;
}
.img-thumbnail {
    max-width: 100px;
    height: auto;
    margin-right: 5px;
}