<div class="container-fluid">
	<nav class="navbar col-sm-6 offset-sm-3">
		<img src="/assets/images/inventors_showcase_logo.png" alt="" class="logo">
		<ul class="nav d-flex align-items-end justify-content-end mt-auto"  *ngIf="router.url !== '/admin'">
			<li class="nav-item active">
				<a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#about-us">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#application">Application</a>
			</li>
		</ul>
		<ul class="nav d-flex align-items-end justify-content-end mt-auto"  *ngIf="router.url == '/admin'">
			<li class="nav-item active">
				<a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a routerLink="/admin" href="#" class="nav-link">Admin</a>
			</li>
			<li class="nav-item">
				<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()" ng-show="location == /admin">Log In</button>
      				<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()" ng-show="location == /admin">Log Out</button>
			</li>
		</ul>
  	</nav>
</div>
<router-outlet></router-outlet>
<div class="container-fluid">
  	<footer>
			  
	</footer>
</div>

